/* ========================= */
/* #1 Form                   */
/* #2 Position               */
/* #3 Margin & Padding       */
/* #4 Self modifiers         */
/* #5 Child modifiers        */
/* #6 Text                   */
/* #7 Animation              */
/* ========================= */

.document-list {
    /* #1 Form */
    flex-grow: 1;
    width: calc(100% - 6rem);
    max-width: 64rem;

    /* #3 Margin & Padding */
    margin: 2.5rem 3rem;

    /* #5 Child modifiers */
    overflow: auto;
}

.document-list table {
    /* #1 Form */
    width: 100%;
}

.document-list table th,
.document-list table td {
    /* #3 Margin & Padding */
    padding: 0.75rem 1rem;

    /* #6 Text */
    text-align: left;
}

.document-list table th.text-overflow > div,
.document-list table td.text-overflow > div {
    /* #5 Child modifiers */
    overflow: hidden;

    /* #6 Text */
    white-space: nowrap;
    text-overflow: ellipsis;
}

.document-list table th:nth-child(1),
.document-list table td:nth-child(1) {
    /* #1 Form */
    width: 33%;
}

.document-list table th:nth-child(2),
.document-list table td:nth-child(2) {
    /* #1 Form */
    width: 23%;
}

.document-list table th:last-child,
.document-list table td:last-child {
    /* #6 Text */
    text-align: right;
}

.document-list table th {
    /* #2 Position */
    position: sticky;
    top: 0;
    z-index: 3;

    /* #4 Self modifiers */
    background-color: #f9f8ff;
    box-shadow: inset 0 -2px #e0e0e0;

    /* #6 Text */
    color: #9ba0a5;
}

.document-list table td {
    /* #4 Self modifiers */
    border-bottom: 1px solid #f0f0f0;

    /* #6 Text */
    color: #4b5563;
}

.document-list .select {
    /* #1 Form */
    width: 8rem;

    /* #3 Margin & Padding */
    margin-left: auto;
}

.document-list .no-document {
    /* #3 Margin & Padding */
    margin: 4rem 0 0;

    /* #6 Text */
    color: #d0d0d0;
    text-align: center;
}
